body {
    --yellow: #f4ff00;
    --black: #000;
    --white: #fff;
    background-color: var(--black);
    color: var(--yellow);
    font-family: monospace;
    margin: 0;
}

a {
    color: inherit;
}

.btn {
    transition: color 200ms, background 200ms;
    background-color: transparent;
    border: 1px solid var(--yellow);
    text-transform: uppercase;
    color: var(--yellow);
    border-radius: 2em;
    padding: 0.6em 4em;
    font-weight: 700;
    font-size: 1.5vw;
    cursor: pointer;

    &:hover {
        background-color: var(--yellow);
        color: var(--black);
    }
}

h1,
h2,
h3,
.btn {
    font-family: 'Helvetica Neue';
}

h1 {
    text-transform: uppercase;
    line-height: 0.85;
    font-weight: 400;
    font-size: 9vw;
    margin: 0;
}

// Game over - overlay
// show
body:not(.game-over) .game-over-modal {
    transition: none;
    pointer-events: none;
    opacity: 0;
}
.game-over-modal {
    transition: opacity 400ms;
    background-color: rgba(#000, 0.75);
    position: fixed;
    display: flex;
    z-index: 20;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .centered {
        text-transform: uppercase;
        text-align: center;
        margin: auto;
    }
    .score-row {
        font-family: 'Helvetica Neue';
        margin: 20px auto;
        font-weight: 700;
        font-size: 24px;
    }
    .game-over-copy {
        max-width: 350px;
        margin: 20px auto;
    }
    .emotion {
        text-decoration: underline;
    }
    .button-row {
        margin: 40px auto;
    }
    .go-repeat {
        text-decoration: none;
    }
}

// Game phases
.game-phase {
    display: none;
}
.phase-01-active .game-phase-01,
.phase-02-active .game-phase-02,
.phase-03-active .game-phase-03,
.phase-04-active .game-phase-04,
.phase-05-active .game-phase-05 {
    display: grid;
}

.game-phase.has-hf {
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

// phase header
.header {
    text-align: center;
    padding: 20px;

    .logo-link {
        display: inline-block;
    }
}

// phase footer
.footer {
    text-align: center;
    padding: 20px;

    .academy-link {
        display: inline-block;
    }
}

// phase 01
.game-phase-01 {
    .content {
        text-align: center;
        max-width: 75%;
        margin: auto;
    }
    .byline {
        text-transform: uppercase;
        max-width: 275px;
        margin: 40px auto;
    }
}

// phase 02
.game-phase-02 {
    .content {
        text-align: center;
        max-width: 75%;
        margin: auto;
    }
    .steps {
        text-transform: uppercase;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        grid-gap: 20px;
        display: grid;
        margin-bottom: 50px;
    }
    .visual {
        border: 1px solid var(--yellow);
        position: relative;

        img,
        svg {
            position: absolute;
            object-position: center;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &::after {
            padding-bottom: 100%;
            display: block;
            content: '';
        }
    }
    .happy-spin {
        animation: spin 8s linear infinite;
        transform-origin: center;
    }
}

.game-phase-04 {
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr 1fr;
    min-height: 100vh;

    h1 {
        font-size: 12vh;
    }

    // structure
    > * {
        position: relative;
    }
    .phrase {
        grid-row: span 2;
    }
    .emotion-chart,
    .face-tracking {
        border-bottom: 1px solid var(--yellow);
    }
    .emotion-chart,
    .face-tracking,
    .voice {
        border-right: 1px solid var(--yellow);
    }

    .label {
        position: absolute;
        font-size: 14px;
        text-transform: uppercase;
        left: 10px;
        top: 10px;
    }

    .emotion-chart {
        padding-bottom: 30px;
        padding: 50px 10px 30px;

        .emotion-table {
            text-transform: uppercase;
            grid-template-columns: auto 1fr;
            grid-gap: 10px;
            display: grid;
        }
        .emote-bar {
            background-color: var(--yellow);
            position: relative;
        }
        .amount {
            transition: 800ms width linear, background-color 600ms linear;
            position: absolute;
            background-color: var(--white);
            height: 100%;
            left: 0;
            top: 0;

            &.alert {
                animation: blink 500ms linear infinite;
                animation-delay: 2s;
                background-color: red;
            }

            &.happiness {
                width: var(--happiness);
            }
            &.surprise {
                width: var(--surprise);
            }
            &.sadness {
                width: var(--sadness);
            }
            &.disgust {
                width: var(--disgust);
            }
            &.anger {
                width: var(--anger);
            }
        }
    }

    .play-header {
        grid-template-columns: 1fr auto;
        display: grid;

        > * {
            position: relative;
        }
        .left {
            display: flex;

            .prompt {
                text-transform: uppercase;
                font-size: 20px;
                padding-left: 4vh;
                margin-bottom: auto;
                margin-top: auto;
            }
        }
        .reset-row {
            text-align: right;
            padding: 10px;

            a {
                text-decoration: none;
            }
        }
        .score-box {
            border-bottom: 1px solid var(--yellow);
            border-left: 1px solid var(--yellow);
        }
        .score-box h4 {
            padding: 0.25em 2em;
            font-weight: 400;
            font-size: 10vh;
            margin: 0;
        }
    }
    .celebrate & .score-box h4 {
        animation: blink 600ms linear infinite;
    }

    .face-readout,
    .landmarks {
        position: absolute;
        object-position: center;
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    .landmarks {
        circle {
            transition: transform 100ms linear;
            stroke-width: 2px;
            stroke: var(--yellow);
            fill: transparent;
        }
    }

    .voice {
        .wave {
            object-position: center;
            object-fit: contain;
            position: absolute;
            height: 100%;
            width: 100%;
        }
        .label {
            z-index: 5;
        }
    }

    .celebrate & .phrase h1 {
        animation: blink 600ms linear infinite;
    }
    .phrase {
        padding-left: 4vh;

        h1 span {
            display: inline-block;
            color: var(--white);
            margin: 0 0.15em;

            &.spoken {
                color: var(--yellow);
            }
        }
    }
    .awwwards-badge {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
