// phase 01
.game-phase-01 {
    .content {
        text-align: center;
        max-width: 75%;
        margin: auto;
    }
    .byline {
        text-transform: uppercase;
        max-width: 275px;
        margin: 40px auto;
    }
}
